<div class="container details">
  <mat-card>
    <mat-card-content>
      <div class="listText">
        <mat-card-title class="listText__piece-name">#{{eraData.id}}</mat-card-title>
        <div class="listText__piece"><strong>Társadalmi státusz/név/fogyasztói termék: </strong>
          <mat-form-field appearance="legacy">
            <label>
              <input matInput [(ngModel)]="eraData.name">
            </label>
          </mat-form-field>
        </div>
        <div class="listText__piece"><strong>Kor ideje: </strong>
          <mat-form-field appearance="legacy">
            <label>
              <input matInput [(ngModel)]="eraData.age">
            </label>
          </mat-form-field>
        </div>
        <div class="listText__piece"><strong>Kvartilis: </strong>
          <mat-form-field appearance="legacy">
            <label>
              <input matInput [(ngModel)]="eraData.quartile">
            </label>
          </mat-form-field>
        </div>
        <div class="listText__piece"><strong>Vagyon: </strong>
          <mat-form-field appearance="legacy">
            <label>
              <input matInput [(ngModel)]="eraData.possessions">
            </label>
          </mat-form-field>
        </div>
        <div class="listText__piece"><strong>Jövedelem: </strong>
          <mat-form-field appearance="legacy">
            <label>
              <input matInput [(ngModel)]="eraData.income">
            </label>
          </mat-form-field>
        </div>
        <div class="listText__piece"><strong>Fogyasztói ár: </strong>
          <mat-form-field appearance="legacy">
            <label>
              <input matInput [(ngModel)]="eraData.cost">
            </label>
          </mat-form-field>
        </div>
        <div class="listText__piece"><strong>Leírás: </strong>
          <mat-form-field appearance="legacy">
            <label>
              <input matInput [(ngModel)]="eraData.description">
            </label>
          </mat-form-field>
        </div>
        <div class="listText__piece"><strong>Leírás: </strong>
          <mat-form-field appearance="legacy">
            <label>
              <input matInput [(ngModel)]="eraData.source">
            </label>
          </mat-form-field>
        </div>
      </div>
      <div><button class="submitButton" (click)="updateData()">Rekord Frissítése</button></div>
      <div><button class="submitButton" (click)="returnFrontPage()">Mégse</button></div>
    </mat-card-content>
  </mat-card>
</div>
