<mat-card>
  <mat-card-content>
    <div class="listText">
      <mat-card-title class="listText__piece-name">#{{dataset.id}}</mat-card-title>
      <div class="listText__piece">
        <span><strong>{{dataset.nameType}}: </strong>{{dataset.name}}</span>
      </div>
      <div class="listText__piece">
        <span><strong>Kor ideje: </strong>{{dataset.age}}</span>
      </div>
      <div class="listText__piece">
        <span><strong>Kvartilis: </strong>{{dataset.quartile}}</span>
      </div>
      <div class="listText__piece" *ngIf="dataset.possessions !== ''">
        <span><strong>Vagyon: </strong>{{dataset.possessions}}</span>
      </div>
      <div class="listText__piece" *ngIf="dataset.income !== ''">
                <span><strong>Jövedelem: </strong>{{dataset.income}}
                  <span *ngIf="dataset.singleTime !== ''">({{dataset.singleTime}})</span>
                </span>
      </div>
      <div class="listText__piece" *ngIf="dataset.cost !== ''">
        <span><strong>Fogyasztói ár: </strong>{{dataset.cost}}</span>
      </div>
      <div class="listText__piece" *ngIf="dataset.description !== ''">
        <span><strong>Leírás: </strong>{{dataset.description}}</span>
      </div>
      <div class="listText__piece" *ngIf="dataset.source !== ''">
        <span><strong>Forrás: </strong>{{dataset.source}}</span>
      </div>
      <div *ngIf="visible" class="listText__icon">
        <i class="listText__icon-trash fa fa-trash fa-2x" aria-hidden="true" (click)="deleteData()"></i>
        <i class="listText__icon-cog fa fa-cog fa-2x" aria-hidden="true" [routerLink]="['/modifyRecord', dataset]"></i>
        <i class="listText__icon-plane fa fa-paper-plane fa-2x" *ngIf="suggest" aria-hidden="true" (click)="postData()"></i>
      </div>
    </div>
  </mat-card-content>
</mat-card>
