.listData {
  width: 21em;
  margin-right: 2em;
  margin-bottom: 2em;
  display: inline-block;
}
mat-card {
  background-color: #c4dcfc;
}

.paginator {
  margin-left: 3em;
  position: relative;
  display: inline-block;
}

.sort {
  &__numberOfRecords {
    margin-left: 3em;
  }

  &__search {
    width: auto;
    margin-left: 3em;
  }
}

.listText {
  &__icon{
    &-cog {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }
  }
}

i:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}
