@import "src/global";
@import "src/app/widgets/add-data/add-data.component";

.createRecord {
  position: relative;
  left: $globalMargin;

  &__currencyOne {
    display: inline-block;
    margin-right: 1em;

    &-type {
      width: 4 * $globalMargin;
    }

    &-line {
      width: 20em;
    }
  }

  &__currencyTwo {
    display: inline-block;
    margin-right: 1em;

    &-line {
      width: 20em;
    }
  }

  &__rate {
    display: inline-block;
    margin-right: 1em;

    &-line {
      width: 20em;
    }
  }
}
