<div>
  <app-sort-list [filteredPostsList]="filteredPostsList" [eraDatas]="currencyDatas" (listRecord)="setListRecord($event)" (filteredPost)="setSearch($event)"></app-sort-list>
  <div class="error" *ngIf="currencyDatas.length === 0">
    <h1>Nincs adat</h1>
  </div>
  <div *ngIf="currencyDatas.length !== 0">
    <ul>
      <li class="listData" *ngFor="let dataset of filteredPostsList | paginate: { itemsPerPage: listRecord, currentPage: page }; let i = index">
        <app-data-table-card-currency [dataset]="dataset" [visible]="visible" (eraDatasEmitter)="deleteData($event)"></app-data-table-card-currency>
      </li>
    </ul>
    <app-paginator [listRecordNumber]="listRecord" [filteredPostsList]="filteredPostsList" (pageEmit)="setPage($event)"></app-paginator>
  </div>
</div>
