<ng-container *ngIf="actionCodeChecked" [ngSwitch]="mode">
  <!-- Reset Password -->
  <ng-container *ngSwitchCase="'resetPassword'">
    <div>
      <mat-form-field appearance="legacy" class="passwordReset">
        <input matInput [(ngModel)]="newPassword" type="text" id="newPassword" required
               minlength="6"
               name="newPassword" placeholder="New Password">
      </mat-form-field>
      <mat-form-field appearance="legacy" class="passwordReset">
        <input matInput [(ngModel)]="confirmPassword" type="text" required
               minlength="6"
               id="confirmPassword" name="confirmPassword" placeholder="Confirm
      Password">
      </mat-form-field>
      <button class="submitButton resetButton" (click)="handleResetPassword()">Megerősítés</button>
    </div>
  </ng-container>
  <!-- Recover Email -->
  <ng-container *ngSwitchCase="'recoverEmail'">
  </ng-container>

  <!-- Verify Email -->
  <ng-container *ngSwitchCase="'verifyEmail'">
  </ng-container>
</ng-container>
