@import "src/global";

.title {
  margin-left: 3em;
}

.createRecord {
  position: relative;
  left: 3em;
  &__name {
    display: inline-block;
    margin-right: 1em;
    &-type {
      width: 12em;
    }
    &-line {
      width: 20em;
    }
  }
  &__age {
    display: inline-block;
    margin-right: 1em;
    &-line {
      width: 20em;
    }
  }
  &__quartile {
    display: inline-block;
    margin-right: 1em;
    &-line {
      width: 20em;
    }
  }
  &__possessions {
    display: inline-block;
    margin-right: 1em;
    &-line {
      width: 20em;
    }
  }
  &__income {
    display: inline-block;
    margin-right: 1em;
    &-singleTime {
      width: 8em;
    }
    &-line {
      width: 20em;
    }
  }
  &__cost {
    display: inline-block;
    margin-right: 1em;
    &-line {
      width: 20em;
    }
  }
  &__description {
    display: inline-block;
    margin-right: 1em;
    &-textArea {
      width: 40em;
    }
  }
  &__source {
    display: inline-block;
    margin-right: 1em;
    &-textArea {
      width: 40em;
    }
  }
}

.submitButton {
  width: 10em;
  height: 3em;
  margin-left: 3em;
}

.uploadRecord {
  display: block;
  height: 20em;
}

.errorText {
  color: red;
}

.missingInput {
  border: 1px solid red;
  border-radius: 25px;
}

.mobileTextLine {
  width: 10em;
}

.mobileSelector {
  width: 6em;
}
