<div class="title">
  <h2 class="widgetTitle">Rekord hozzáadása az adatbázishoz:</h2>
</div>
<div class="uploadRecord">
  <div class="createRecord">
    <div class="createRecord__name" [ngClass]="missingInputName">
      <mat-form-field appearance="fill" class="createRecord__name-type" [ngClass]="selector">
        <mat-label><strong>{{eraNames}}: </strong></mat-label>
        <mat-select disableRipple>
          <mat-option (click)="setEraName('Társadalmi státusz')">Társadalmi státusz</mat-option>
          <mat-option (click)="setEraName('Név')">Név</mat-option>
          <mat-option (click)="setEraName('Fogyasztói termék')">Fogyasztói termék</mat-option>
          <mat-option (click)="setEraName('Szolgáltatás')">Szolgáltatás</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="createRecord__name-line" [ngClass]="textLine">
          <input matInput [(ngModel)]="name">
      </mat-form-field>
    </div>
    <div class="createRecord__age" [ngClass]="missingInputAge">
    <strong>Kor ideje: </strong>
      <mat-form-field appearance="legacy" class="createRecord__age-line" [ngClass]="textLine">
          <input matInput [(ngModel)]="age">
      </mat-form-field>
    </div>
    <div class="createRecord__quartile" [ngClass]="missingInputQuartile">
      <strong>Kvartilis: </strong>
      <mat-form-field appearance="legacy" class="createRecord__quartile" [ngClass]="textLine">
        <mat-label>{{quartile}}</mat-label>
        <mat-select>
          <mat-option (click)="setQuartile('first')">First</mat-option>
          <mat-option (click)="setQuartile('second')">Scond</mat-option>
          <mat-option (click)="setQuartile('third')">Third</mat-option>
          <mat-option (click)="setQuartile('fourth')">Fourth</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="createRecord__possessions">
    <strong>Vagyon: </strong>
      <mat-form-field appearance="legacy" class="createRecord__possessions-line" [ngClass]="textLine">
          <input matInput [(ngModel)]="possessions">
      </mat-form-field>
    </div>
    <div class="createRecord__income" [ngClass]="noValueGiven">
      <p *ngIf="noValueGiven==='missingInput'">(Összeg + pénznem vagy egyéb megfelelő kiírása)</p>
    <strong>Jövedelem: </strong>
      <mat-form-field appearance="legacy" class="createRecord__income-line" [ngClass]="textLine">
          <input matInput [(ngModel)]="income">
      </mat-form-field>
      <mat-form-field appearance="fill" class="createRecord__income-singleTime" [ngClass]="selector">
        <mat-label>{{singleTime}}</mat-label>
        <mat-select>
          <mat-option (click)="setSingleTime('')">Nincs</mat-option>
          <mat-option (click)="setSingleTime('Egyszeri')">Egyszeri</mat-option>
          <mat-option (click)="setSingleTime('Rendszeres')">Rendszeres</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="createRecord__cost">
    <strong>Fogyasztói ár: </strong>
      <mat-form-field appearance="legacy" class="createRecord__cost-line" [ngClass]="textLine">
          <input matInput [(ngModel)]="cost">
      </mat-form-field>
    </div>
    <div>
      <div class="createRecord__description">
      <strong>Leírás: </strong>
        <mat-form-field appearance="legacy" class="createRecord__description-textArea" [ngClass]="textLine">
            <input matInput [(ngModel)]="description">
        </mat-form-field>
      </div>
      <div class="createRecord__source">
      <strong>Forrás: </strong>
        <mat-form-field appearance="legacy" class="createRecord__source-textArea" [ngClass]="textLine">
            <input matInput [(ngModel)]="source">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div>
    <button class="submitButton" *ngIf="admin"  ngbButtonLabel
            (click)="postData({id: generateId(), nameType: eraNames, name: name, age: age, quartile: quartile, possessions: possessions, income: income, singleTime: singleTime, cost: cost, description: description, source: source})">
      Rekord feltöltése
    </button>
    <button class="submitButton" *ngIf="!admin"  ngbButtonLabel
            (click)="suggestData({id: generateId(), nameType: eraNames, name: name, age: age, quartile: quartile, possessions: possessions, income: income, singleTime: singleTime, cost: cost, description: description, source: source})">
      Rekord ajánlása
    </button>
  </div>
</div>

