@import "src/global";

.title {
  margin-left: $globalMargin;
}

.createRecord {
  position: relative;
  left: $globalMargin;

  &__name {
    display: inline-block;
    margin-right: 1em;

    &-type {
      width: 4 * $globalMargin;
    }

    &-line {
      width: 20em;
    }
  }

  &__age {
    display: inline-block;
    margin-right: 1em;

    &-line {
      width: 20em;
    }
  }

  &__quartile {
    display: inline-block;
    margin-right: 1em;

    &-line {
      width: 20em;
    }
  }

  &__possessions {
    display: inline-block;
    margin-right: 1em;

    &-line {
      width: 20em;
    }
  }

  &__income {
    display: inline-block;
    margin-right: 1em;

    &-singleTime {
      width: 8em;
    }
    &-line {
      width: 20em;
    }
  }

  &__cost {
    display: inline-block;
    margin-right: 1em;
    &-line {
      width: 20em;
    }
  }

  &__description {
    display: inline-block;
    margin-right: 1em;

    &-textArea {
      width: 40em;
    }
  }

  &__source {
    display: inline-block;
    margin-right: 1em;

    &-textArea {
      width: 40em;
    }
  }
}

.submitButton {
  width: 10em;
  height: $globalMargin;
  margin-left: $globalMargin;
}

.uploadRecord {
  display: block;
  height: 20em;
}

.mobileTextLine {
  width: 10em;
}

.mobileSelector {
  width: 2 * $globalMargin;
}
