<mat-card class="header">
  <mat-card-title class="header__title" [routerLink]="''">{{title}}</mat-card-title>
  <div class="login">
    <ul class="login__navigation">
      <li *ngIf="!authService.isAuthenticated()" class="login__navigation-item">
        <a routerLink="/signUp">Signup</a>
      </li>
      <li *ngIf="!authService.isAuthenticated()" class="login__navigation-item">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="authService.isAuthenticated()" class="login__navigation-item">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-card>
