.header {
  background-color: #50acf3;

  &__title {
    display: inline-block;
    margin-right: 2em;
    text-align: center;
    cursor: pointer;
  }
}

.login {
  z-index: 10;
  position: fixed;
  top: 0.5em;

  &__navigation {
    position: fixed;
    display: block;
    left: 15em;

    &-item {
      position: relative;
      height: 3em;
      width: 8em;
      display: inline-block;
      box-shadow: 2px 2px whitesmoke;
      border-radius: 10px;
      padding: 5px;
      margin-right: 5em;
      cursor: pointer;
      float: left;

      &-button {
        height: 2.3em;
        width: 7.3em;
        border-radius: 5px;
        border: none;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

.mobileNavigation {
  width: 27em;
  left: 9em;
}
.onMobile {
  height: 2.5em;
  width: 5.3em;
  margin-right: 3em;
  &__button {
    height: 2.5em;
    width: 6.5em;
    font-size: 10px;
  }
}
